.Searchinput{
    width: 500px;
    padding: 10px;
    border-radius: 50px;
}
.boxsearch{
    width: 100%;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 1px solid gold;
    color: gray;
}
.iconsearch{
    margin-top: 5px;
    margin-left: 10px;
}